In [ ]:
l1 = [15,25.6,"python"]
print(l1)

[15, 25.6, 'python']

In [ ]:
t1 = (21,"python",21.45)
print(t1)

(21, 'python', 21.45)

In [ ]:
#if statement
n1 = int(input())
n2 = int(input())
n3 = int(input())
if n1>n2 and n1>n3 :
  print(n1,"is largest")
if n2>n1 and n2>n3 :
  print(n2,"is largest")
if n3>n1 and n3>n2 :
  print(n3,"is largest")

23
45
66
66 is largest

In [ ]:
#if-else statement
print("Enter a number")
num = int(input())
if num%2==0:
  print(num,"is even")
else:
  print(num,"is odd")

Enter a number
7
7 is odd

In [ ]:
#nested if statement
n1 = int(input())
n2 = int(input())
n3 = int(input())
if n1>n2:
  if n1>n3:
    print(n1,"is largest")
if n2>n1:
  if n2>n3:
    print(n2,"is largest")
if n3>n1:
  if n3>n2:
    print(n3,"is largest")

45
56
89
89 is largest

In [ ]:
d1 = {"Aradhana" : 21, "prarthahna" : 100, "Rugved" : 23}
print(d1)

{'Aradhana': 21, 'prarthahna': 100, 'Rugved': 23}